/*
*Room Layout
*/

#roomContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 400px;
}

#roomContainer > div{
    border: solid 2px black;
    box-sizing: border-box;
}
div#room1{
    grid-row: 1/1;
    grid-column: 1/1;
}

div#room2{
    grid-row: 1/1;
    grid-column: 2/2;
    border-right: none;
    border-left: none;

}

div#room3{
    grid-row: 1/1;
    grid-column: 3/3;
}

div#room4{
    grid-row: 2/2;
    grid-column: 1/1;
    border-top: none;
    border-bottom: none;
   

}

div#room5{
    grid-row: 3/3;
    grid-column: 1/1;

}

div#room6{
    grid-row: 3/3;
    grid-column: 2/2;
    border-right: none;
    border-left: none;

}

div#room7{
    grid-row: 3/3;
    grid-column: 3/3;
}